<ul class="form_step_list">
      <li class=<%= active_process applicationform_experience_path %> >1. Application form</li>
      <li class=<%= active_process confirm_experience_path %> >2. Confirm</li>
      <li class=<%= active_process sendrequest_experience_path %> >3. Send Request</li>
      <li class=''>4. Receive Confirmation Email</li>
      <li class=<%= active_process payment_experience_path %> >5. Payment</li>
      <li class=<%= active_process complete_experience_path %> >6. Complete</li>
    </ul>