<%= content_for :title_header do %>
  Booking | SUITO
<% end %>

<div class="top_main_view">
  <%= render 'experience/commons/ex_mv_wrap' %>
  <div class="common_inner">
    <%= render 'components/form_step_list' %>
    <div class="exdetail_wrap clearfix">
      <section class="exdetail_left_block">
        <div class="form_wrap">
          <form action="<%= confirm_experience_path(@experience.id) %>">
            <p class="form_top_text">
              <%= t('.fill') %><span class="red">(*Required)</span><br>
              <%= t('.offer') %>&nbsp; <%= t('.information') %> <span class="bold">[<%= t('.book') %>]</span>.
            </p>
            <a href="" class="form_top_book_btn">
              <img src=<%= image_path("form/book_icon.png") %> alt="how to book">
            </a>
            <div class="form_day_wrap">
              <div class="form_day_title_block">
                <p class="form_common_title"><%= t('.day1') %></p>
                <p class="form_common_title"><%= t('.start1') %></p>
              </div>
              <p class="form_common_error_msg">*Required.</p>
              <div class="form_day_common_block">
                <p class="form_common_title sp"><%= t('.day2') %></p>
                <input type="text" id="first-choice" name="first-choice" required="true" class="form_day_input">
                <p class="form_common_title sp"><%= t('.start2') %></p>
                <select name="time01" class="form_time_select">
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                </select>
                <p class="form_choice_text"><%= t('.first1') %><span>*</span></p>
              </div>
              <div class="form_day_common_block">
                <p class="form_common_title sp"><%= t('.day3') %></p>
                <input type="text" id="second-choice" name="second-choice" class="form_day_input">
                <p class="form_common_title sp"><%= t('.start3') %></p>
                <select name="time01" class="form_time_select">
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                </select>
                <p class="form_choice_text"><%= t('.second') %></p>
              </div>
              <div class="form_day_common_block">
                <p class="form_common_title sp"><%= t('.day4') %></p>
                <input type="text" id="third-choice" name="third-choice" class="form_day_input">
                <p class="form_common_title sp"><%= t('.start4') %></p>
                <select name="time01" class="form_time_select">
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                </select>
                <p class="form_choice_text"><%= t('.third') %></p>
              </div>
            </div>
            <div class="form_people_wrap">
              <p class="form_common_title"><%= t('.number') %><span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <div class="form_people_inner">
                <div class="form_people_common_block">
                  <p class="form_people_title"><%= t('.adults') %></p>
                  <div class="num_wrap">
                    <p id="minus-adults" class="minus">−</a>
                    <p class="num num-adults" id="numAdults" name="numAdults" >0</p>
                    <p id="plus-adults" class="plus">＋</a>
                  </div>
                </div>
                <div class="form_people_common_block">
                  <p class="form_people_title"><%= t('.children') %><span>(2-12)</span></p>
                  <div class="num_wrap">
                    <p id="minus-children" class="minus">−</a>
                    <p class="num num-children" id="numChildren" name="numChildren">0</p>
                    <p id="plus-children" class="plus">＋</a>
                  </div>
                </div>
                <div class="form_people_common_block">
                  <p class="form_people_title"><%= t('.infant') %><span>(&lt;2)</span></p>
                  <div class="num_wrap">
                    <p id="minus-infant" class="minus">−</a>
                    <p class="num num-infant" id="numInfants" name="numInfants">0</p>
                    <p id="plus-infant" class="plus">＋</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="form_interpreter_wrap">
              <p class="form_common_title"><%= t('.interpreter') %><span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <div class="form_interpreter_inner">
                <label for="Need" class="form_interpreter_label">
                  <input type="radio" name="interpreter" id="Need" value="true" class="form_radio_input"><%= t('.need') %>
                </label>
                <label for="Unnecessary" class="form_interpreter_label">
                  <input type="radio" name="interpreter" id="Unnecessary" value="false" class="form_radio_input"><%= t('.unnecessary') %>
                </label>
              </div>
              <p class="form_subtext"><%= t('.charge') %> <span>300.000 VND</span> <%= t('.requesting') %></p>
            </div>
            <div class="form_profile_wrap">
              <p class="form_common_title"><%= t('.guest_info') %></p>
              <div class="form_profile_inner">
                <div class="form_profile_title">
                  <p class="form_common_title"><%= t('.title1') %></p>
                  <select id="guest-title" name="guest-title" class="form_profile_select">
                    <option value=""></option>
                    <!--                       <option value="✔">✔</option> -->
                    <option value="Mr.">Mr.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Mrs.">Mrs.</option>
                  </select>
                </div>
                <div class="form_profile_name left">
                  <p class="form_common_title"><%= t('.firstname1') %><span>*</span></p>
                  <p class="form_common_error_msg">*Required.</p>
                  <input type="text" required="true" id="guest-firstname" name="guest-firstname" class="form_profile_input">
                </div>
                <div class="form_profile_name right">
                  <p class="form_common_title"><%= t('.lastname1') %><span>*</span></p>
                  <p class="form_common_error_msg">*Required.</p>
                  <input type="text" required="true" id="guest-lastname" name="guest-lastname" class="form_profile_input">
                </div>
              </div>
            </div>
            <div class="form_sub_profile_wrap">
              <p class="form_common_title"><%= t('.age') %><span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <input type="text" required="true" id="age" name="age" class="form_sub_input_short">
              <p class="form_common_title"><%= t('.nationality') %></p>
              <input type="text" id="nationality" name="nationality" class="form_sub_input_middle">
              <p class="form_common_title"><%= t('.language') %><span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <input type="text" required="true" id="language" name="language" class="form_sub_input_middle">
              <p class="form_common_title"><%= t('.phone') %></p>
              <input type="tel" id="phone-number" name="phone-number" class="form_sub_input_middle">
              <p class="form_common_title"><%= t('.email') %><span>*</span></p>
              <p class="form_common_error_msg">*Required.</p>
              <input type="email" required="true" id="email" name="email" class="form_sub_input_long">
              <p class="form_common_title"><%= t('.address') %></p>
              <textarea id="address" name="address" class="form_textarea_block"></textarea>
              <div class="form_sub_others">
                <div class="checkbox_style" id="NotGuestCheck">
                  <input type="checkbox" name="notguest" value="not guest" id="NotGuest">
                  <label for="NotGuest"><span><small><%= t('.notguest') %></small> <%= t('.making') %></span></label>
                </div>
                <div class="form_sub_others_box">
                  <div class="form_profile_inner">
                    <div class="form_profile_title">
                      <p class="form_common_title"><%= t('.title2') %></p>
                      <select id="representative-title" name="representative-title" class="form_profile_select">
                        <option value=""></option>
                        <!--                       <option value="✔">✔</option> -->
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Mrs.">Mrs.</option>
                      </select>
                    </div>
                    <div class="form_profile_name left">
                      <p class="form_common_title"><%= t('.firstname2') %><span>*</span></p>
                      <p class="form_common_error_msg">*Required.</p>
                      <input type="text" id="representative-firstname" name="representative-firstname" class="form_profile_input">
                    </div>
                    <div class="form_profile_name right">
                      <p class="form_common_title"><%= t('.lastname2') %><span>*</span></p>
                      <p class="form_common_error_msg">*Required.</p>
                      <input type="text" id="representative-lastname" name="representative-lastname" class="form_profile_input">
                    </div>
                  </div>
                  <p class="form_common_title"><%= t('.guestemail') %><span>*</span></p>
                  <p class="form_common_error_msg">*Required.</p>
                  <input type="email" id="representative-email" name="representative-email" class="form_sub_input_long">
                  <div class="form_guest_confirm">
                    <label for="Confirm01" class="form_interpreter_label">
                      <input type="radio" name="confirm" id="Confirm01" class="form_radio_input"><%= t('.confirm') %><span id="OnlyMeBtn">only to me</span>.
                    </label>
                    <div class="form_confirm_popup">
                      <p class="form_confirm_info_text">
                        家族や友人に体験をプレゼントしたい時に、自分にだけ支払い情報を送ることができます。<br>
                        プレゼントするゲストには支払い後に予約完了情報が送られ、金額は表示されません。
                      </p>
                    </div>
                    <label for="Confirm02" class="form_interpreter_label">
                      <input type="radio" name="confirm" id="Confirm02" class="form_radio_input noactive"><%= t('.confirm2') %>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form_accept_wrap">
              <p class="form_common_error_msg">*Required.</p>
              <div class="checkbox_style">
                <input type="checkbox" required="true" name="accept_notes" value="acceptnotes" id="AcceptNotes">
                <label for="AcceptNotes"><span><%= t('.accepted') %> 
                    <p class="form_common_title"><%= t('.note') %><span>*</span></p>
                    .</span></label>
              </div>
              <div class="form_accept_block">
                <p class="text">
                  We don't have a gluten free option ... sorry.  Please bring your camera and towels
                </p>
              </div>
            </div>
            <div class="form_accept_wrap">
              <p class="form_common_error_msg">*Required.</p>
              <div class="checkbox_style">
                <input type="checkbox" required="true" name="accept_terms" value="acceptterms" id="AcceptTerms">
                <label for="AcceptTerms"><span><%= t('.accept_terms') %> <a href="" class="form_common_title"><%= t('.service') %><span>*</span></a>.</span></label>
              </div>
            </div>
            <input id="btnBooking" type="submit" value="Go to Confirm page" class="form_subtmit_btn noactive" />
          </form>
        </div>
      </section>
      <aside class="exdetail_right_block" style="height: 2078px;">
        <div class="exdetail_right_top" style="position: absolute; top: 0px;">
          <% if @experience.image.attached? %>
          <div class="exdetail_main_pic" style="background: url(<%= url_for(@experience.image) %>) center center no-repeat;background-size: cover;"></div>
          <% else %>
          <div class="exdetail_main_pic" style="background: url(<%= image_url("ex/pic01.jpg") %>) center center no-repeat;background-size: cover;"></div>
          <% end %>
          <p class="form_aside_pic_info"><a href="">Hosted by <%= @experience.admin_user.fullname %></a></p>
          <table class="form_aside_table">
            <tbody>
              <tr>
                <th>
                  <img src=<%= image_path("form/money.png") %> alt="money">
                </th>
                <td>
                  <span><%= number_to_currency(@experience.price_adult.to_f, unit: "$US", precision: 2, separator: ".", delimiter: ",", format: "%u %n")%></span>/guest
                </td>
              </tr>
              <tr>
                <th>
                  <img src=<%= image_path("form/time.png") %> alt="time">
                </th>
                <td>
                  <%= @experience.duration %> total
                </td>
              </tr>
              <tr>
                <th>
                  <img src=<%= image_path("form/place.png") %> alt="place">
                </th>
                <td>
                  <%= @experience.location.province %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="form_aside_box">
            <p class="form_aside_box_title">Provided</p>
            <p class="form_aside_box_text">
              ・Shodo trial set<br>
              ・T-Shirt<br>
              ・Tea or water
            </p>
          </div>
          <div class="form_aside_box">
            <p class="form_aside_box_title">Cancellation policy</p>
            <p class="form_aside_box_text">
              Get a full refund if you cancel within 24 hours of purchase.
            </p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

<script type="text/javascript">

  $("#AcceptNotes, #AcceptTerms").click(function() {
    if($("#AcceptNotes").prop("checked") == true && $("#AcceptTerms").prop("checked") == true){
        $(".form_subtmit_btn").removeClass("noactive");
    }

    if (($("#AcceptNotes").prop("checked") != true || $("#AcceptTerms").prop("checked") != true) && !$(".form_subtmit_btn").hasClass("noactive"))
      $(".form_subtmit_btn").addClass("noactive");
  });
  
</script>