<%= content_for :title_header do %>
    Sign in - Admin | SUITO
<% end %>
<div class="top_main_view">
  <section class="ex_mv_wrap">
    <div class="">
      <h1 class="ex_main_title">
        Log in
      </h1>
    </div>
  </section>
  <div class="common_inner">
    <section class="privacy_wrap greeting_wrap">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <%= f.email_field :email, autofocus: true,  placeholder: "Enter email", class: "form-control", autocomplete: "email" %>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <%= f.password_field :password, class: "form-control",  placeholder: "Enter password", autocomplete: "current-password" %>
        </div>
        <div class="form-group">
          <div class="form-check">
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            <% end %>
          </div>
        </div>
        <%= f.submit "Log in", class: "btn btn-primary btn-md" %>
      </div>
      <% end %>
      <%= render "admin_users/shared/links" %>
    </section>
  </div>
</div>