<footer>  
    <div class="footer_wrap">
      <div class="common_inner">
        <ul class="footer_list">
          <li class="footer_item">
            <a href="/experience" class="footer_link"><%= t('.experience') %></a>
          </li>
          <li class="footer_item">
            <a href="/blog" class="footer_link"><%= t('.blog') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.weather') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.greeting') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.restaurant') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.trip_advisor') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.exchange_money') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.privacy_policy') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.rental_space') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link" target="_blank" rel="nofollow"><%= t('.facebook') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.faq') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.terms') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.SUiTO') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link" target="_blank" rel="nofollow"><%= t('.instagram') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.contact') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.site_map') %></a>
          </li>
          <li class="footer_item">
            <a href="/" class="footer_link"><%= t('.access') %></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="common_inner">
      <div class="footer_bottom">
        <div class="footer_bottom_pic">
          <a href="/" target="_blank" rel="nofollow"><%= image_tag("common/footer_logo01.png") %></a>
          <a href="/" target="_blank" rel="nofollow"><%= image_tag("common/footer_logo02.png") %></a>
          <a href="/" target="_blank" rel="nofollow"><%= image_tag("common/footer_logo03.png") %></a>
        </div>
        <small class="footer_copyright">Copyright ©2017 SUiTO FUKUOKA All rights reserved.</small>
      </div>
    </div>
  </footer>   