	
<%= search_form_for @exp_search,url: experience_index_path do |f| %>
  <div class="header_search_block">
    <input type="text" name="header_date" class="header_search_date" id="HeaderSearchDate" placeholder="<%= t('.any_time') %>">
    <div class="header_exp_block">
      <%= f.search_field :location_province_has_any_term, class: "header_search_place", id: "HeaderSearchPlace", autocomplete: "off", placeholder: "Any Where" %>
      <div class="header_exp_popup" id="HeaderPlacePop">
        <div class="" id="HeaderSearchPlace_Choose">
          <ul class="top_mv_place_list">
            <% @locations.each do |loca| %>
              <li class="top_mv_place_item <%= cur_stick_active(loca.province, :location_province_has_any_term) %> " data-place="<%= loca.province %>"><%= loca.province %></li> 
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="header_exp_block">    
      <%= f.search_field :categories_category_name_has_any_term, class: "header_search_exp", id: "HeaderSearchExp", autocomplete: "off", placeholder: "All Experience" %> 
      <div class="header_exp_popup" id="HeaderExpPop">
        <div class="" id="HeaderSearchExp_Choose">
          <ul class="top_mv_place_list">
            <% @categories.each do |cate| %>
              <li class="top_mv_place_item <%= cur_stick_active(cate.category_name, :categories_category_name_has_any_term) %>" data-hdex="<%= cate.category_name %>"><%= cate.category_name %></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    <input type="submit" value="検索" class="header_search_submit">
  </div>
<% end %>
<a href="" class="header_info_btn">
  <%= image_tag("common/info_book_icon.png", alt: "how to book") %>
</a>
