<header>
	<div class="header_wrap_pc_top">
		<div class="header_wrap_inner">
			<a href="/" class="header_logo">
				<%= image_tag("common/logo.png") %>
			</a>
			<nav class="header_top_menu">
				<a href="/experience" class="header_menu_link">
					<%= t('.experience') %>
				</a>
				<a href="/" class="header_menu_link">
					<%= t('.restaurant') %>
				</a>
				<a href="/" class="header_menu_link">
					<%= t('.rental_space') %>
				</a>
				<a href="/blog" class="header_menu_link">
					<%= t('.blog') %>
				</a>
				<a href="/" class="header_menu_link">
					<%= t('.accessSUiTO') %>
				</a>
				<a href="/" class="header_menu_link">
					<%= t('.faq') %>
				</a>				
			</nav>
			<%= form_tag top_path, class: "locale" do %>
				<%= select_tag 'set_locale', 
					options_for_select(LANGUAGES, I18n.locale.to_s), 
					onchange: 'this.form.submit()', class: "header_select"%> 
				<%= submit_tag 'submit' %>
				<%= javascript_tag "$('.locale input').hide()" %>
			<% end %> 

		</div>	
	</div>
	<div class="header_exp_filter" id="HeaderExpFilter"></div>
	<div class="header_wrap_pc_scroll" id="HeaderScroll">
		<div class="header_wrap_inner">
			<a href="" class="header_logo">
				<%= image_tag("common/logo_b.png") %>
			</a>
			<% unless is_multiple_process_form? %>
				<%= render 'layouts/form_date_and_header_info_button' %>
			<% else %>
				<%= render 'layouts/form_header_info_block' %>
			<% end %>
		

			<div class="header_right_block">
  			<div class="header_menu" id="MenuBtn">
          <span class="header_line header_top_line"></span>
          <span class="header_line header_middle_line"></span>
          <span class="header_line header_bottom_line"></span>
        </div>
        <nav class="header_nav_block">
      	  <a href="" class="header_menu_link">
      			<%= t('.experience') %>
      		</a>
      		<a href="" class="header_menu_link">
      			<%= t('.restaurant') %>
      		</a>
      		<a href="" class="header_menu_link">
      			<%= t('.rental_space') %>
      		</a>
      		<a href="" class="header_menu_link">
      			<%= t('.blog') %>
      		</a>
      		<a href="" class="header_menu_link">
      			<%= t('.accessSUiTO') %>
      		</a>
      		<a href="" class="header_menu_link">
      			<%= t('.faq') %>
      		</a>
        </nav>
			</div>
		</div>
	</div>
	
</header>